.centerInput {
  :global(.ant-input) {
    text-align: center;
  }
}
.dropdown {
  :global(.ant-dropdown-menu-item) {
    padding: 0 !important;
    margin-top: 4px !important;
    margin-bottom: 4px !important;
  }
}

.showCount {
  flex-direction: column;
  display: block;
  :global(.ant-input) {
    height: 100px;
  }
  :global(.ant-input-data-count) {
    position: static;
    text-align: right;
    width: 100%;
    color: #ACACAC;
    font-size: 14px;
    padding: 0 8px 2px 0;
  }
}
.beautyScroll {
  &::-webkit-scrollbar{
    width: 8px; 
  }
  &::-webkit-scrollbar-thumb{
    background-color: #eee;
    border-radius: 4px;
  }
}