.startBtn {
  width: 225px;
  height: 71px;
  background: linear-gradient(297deg, #5F88FF 0%, #6278DA 100%);
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
  border-radius: 11px;
  color: #fff !important;
  font-size: 24px;
}